{{#header}}
<header class="{{^current_user}}not-{{/current_user}}logged-in">
	<h1><a href="{{base}}">Sleepcam</a></h1>
	<div id="session">
		<span class="logged-in">
			<a id="profile-link"{{#current_user}} href="{{base}}profile/{{current_user}}"{{/current_user}}>
				<img class="icon"{{#current_user}} src="{{base}}images/profile/profile-{{current_user}}" alt="{{current_user}}'s icon"{{/current_user}}>{{current_user}}{{^current_user}}&nbsp;{{/current_user}}</a>
			<a id="logout-link" href="{{base}}logout">Logout</a>
		</span>
		<span class="not-logged-in">
			<a id="login-link" href="{{base}}login">Login / Signup</a>
		</span>
	</div>
</header>
{{/header}}
